.list{
  margin-left: 1.5rem;
  > div {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .news {
    position: relative;

    >button{
      position: absolute;
      right: 5px;
      top: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: color 0.4s ease-in-out;
      &:hover{
        color: #646cff;
      }
    }
  }
}